### Updated: Using Pandas to Create and Excel Diff

The [original article](http://pbpython.com/excel-diff-pandas.html) contains some Updating the Excel diff article to work with more recent versions of pandas that no longer use panel.

The new article can be read [here](http://pbpython.com/excel-diff-pandas-update.html)

In [1]:
import pandas as pd

In [2]:
# Define the diff function to show the changes in each field
def report_diff(x):
    return x[0] if x[0] == x[1] else '{} ---> {}'.format(*x)

In [3]:
# Read in the two files but call the data old and new and create columns to track
col = ['หน่วยงาน',  'พิกัดศุลกากร', 'รหัสสถิติ', 'ประเภท','tax', 'Validate Indicator(2A)', 'Country Code(2A)', 'Quantity(14NDE3)', 'Quantity Unit(3A)', 'คำอธิบายภาษาไทย',
       'คำอธิบายภาษาอังกฤษ', 'Condition(512A)', 'Announce Number(10A)', 'Announce Date(8N)', 'วันที่เริ่มต้น', 'Expire Date(8N)', 'ID']
old = pd.read_excel('data/Permission_old.xlsx', 'Sheet1', na_values=['NA'],dtype = { 'Tariff Statistical Code (3N)' : object,
                                                                                    'Tariff Classification(12 N)':object})
new = pd.read_excel('data/Permission_new.xlsx', 'Sheet1', na_values=['NA'],dtype = { 'Tariff Statistical Code (3N)' : object,
                                                                                   'Tariff Classification(12 N)':object})
old.columns = col
new.columns = col
old['version'] = "old"
new['version'] = "new"     
new["ประเภท"]= new["ประเภท"].replace( [0,1,2,3] , ['นำเข้า','ส่งออก','ผ่านแดน','นำเข้าและส่งออก']) 
old["ประเภท"]= old["ประเภท"].replace( [0,1,2,3] , ['นำเข้า','ส่งออก','ผ่านแดน','นำเข้าและส่งออก'])

old = pd.read_excel('data/Permission_old.xlsx', 'Sheet1')
old.head()

In [4]:
new.head()

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
0,กรมการอุตสาหกรรมทหาร,28011000,000,นำเข้า,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999,2801100000000994000011679,new
1,กรมการอุตสาหกรรมทหาร,28013000,002,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999,2801300000230994000011679,new
2,กรมการอุตสาหกรรมทหาร,28047000,000,นำเข้าและส่งออก,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999,2804700000030994000011679,new
3,กรมการอุตสาหกรรมทหาร,28062000,001,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999,2806200000130994000011679,new
4,กรมการอุตสาหกรรมทหาร,28111100,201,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999,2811110020130994000011679,new

In [5]:
old.head()

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
0,กรมการอุตสาหกรรมทหาร,28011000,000,นำเข้า,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999,2801100000000994000011679,old
1,กรมการอุตสาหกรรมทหาร,28013000,002,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999,2801300000230994000011679,old
2,กรมการอุตสาหกรรมทหาร,28047000,000,นำเข้าและส่งออก,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999,2804700000030994000011679,old
3,กรมการอุตสาหกรรมทหาร,28062000,001,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999,2806200000130994000011679,old
4,กรมการอุตสาหกรรมทหาร,28111100,201,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999,2811110020130994000011679,old

In [6]:
new.columns

Index(['หน่วยงาน', 'พิกัดศุลกากร', 'รหัสสถิติ', 'ประเภท', 'tax',
       'Validate Indicator(2A)', 'Country Code(2A)', 'Quantity(14NDE3)',
       'Quantity Unit(3A)', 'คำอธิบายภาษาไทย', 'คำอธิบายภาษาอังกฤษ',
       'Condition(512A)', 'Announce Number(10A)', 'Announce Date(8N)',
       'วันที่เริ่มต้น', 'Expire Date(8N)', 'ID', 'version'],
      dtype='object')

In [7]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11078 entries, 0 to 11077
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   หน่วยงาน                11078 non-null  object
 1   พิกัดศุลกากร            11078 non-null  object
 2   รหัสสถิติ               11078 non-null  object
 3   ประเภท                  11078 non-null  object
 4   tax                     11078 non-null  int64
 5   Validate Indicator(2A)  11078 non-null  object
 6   Country Code(2A)        1 non-null      object
 7   Quantity(14NDE3)        11078 non-null  int64
 8   Quantity Unit(3A)       1925 non-null   object
 9   คำอธิบายภาษาไทย         11016 non-null  object
 10  คำอธิบายภาษาอังกฤษ      11019 non-null  object
 11  Condition(512A)         887 non-null    object
 12  Announce Number(10A)    743 non-null    object
 13  Announce Date(8N)       11078 non-null  int64
 14  วันที่เริ่มต้น          11078 non-null  int64
 15  Expire Date(8N)         11078 non-null  int64
 16  ID                      11078 non-null  object
 17  version                 11078 non-null  object
dtypes: int64(5), object(13)
memory usage: 1.5+ MB

In [8]:
# We use the account numbers as the keys to check what is added, dropped and potentially changed
# Using sets makes the deduping easy and we can use set operations to figure out groupings
old_accts_all = set(old['ID'])
new_accts_all = set(new['ID'])

dropped_accts = old_accts_all - new_accts_all
added_accts = new_accts_all - old_accts_all

In [9]:
#Join all the data together and ignore indexes so it all gets concatenated
all_data = pd.concat([old,new],ignore_index=True)

In [10]:
all_data.head()

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
0,กรมการอุตสาหกรรมทหาร,28011000,000,นำเข้า,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999,2801100000000994000011679,old
1,กรมการอุตสาหกรรมทหาร,28013000,002,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999,2801300000230994000011679,old
2,กรมการอุตสาหกรรมทหาร,28047000,000,นำเข้าและส่งออก,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999,2804700000030994000011679,old
3,กรมการอุตสาหกรรมทหาร,28062000,001,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999,2806200000130994000011679,old
4,กรมการอุตสาหกรรมทหาร,28111100,201,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999,2811110020130994000011679,old

In [11]:
# Let's see what changes in the main columns we care about
# Change drop_duplicates syntax: keep=last
changes = all_data.drop_duplicates(subset=["ID",
                                          "วันที่เริ่มต้น","Expire Date(8N)"], keep='last')

In [12]:
changes.head()

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
11062,กรมการอุตสาหกรรมทหาร,28011000,000,นำเข้า,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999,2801100000000994000011679,new
11063,กรมการอุตสาหกรรมทหาร,28013000,002,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999,2801300000230994000011679,new
11064,กรมการอุตสาหกรรมทหาร,28047000,000,นำเข้าและส่งออก,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999,2804700000030994000011679,new
11065,กรมการอุตสาหกรรมทหาร,28062000,001,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999,2806200000130994000011679,new
11066,กรมการอุตสาหกรรมทหาร,28111100,201,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999,2811110020130994000011679,new

In [13]:
#Get all the duplicate rows
dupe_accts = changes[changes['ID'].duplicated() == True]['ID'].tolist()
dupes = changes[changes["ID"].isin(dupe_accts)]

In [14]:
dupes

Empty DataFrame
Columns: [หน่วยงาน, พิกัดศุลกากร, รหัสสถิติ, ประเภท, tax, Validate Indicator(2A), Country Code(2A), Quantity(14NDE3), Quantity Unit(3A), คำอธิบายภาษาไทย, คำอธิบายภาษาอังกฤษ, Condition(512A), Announce Number(10A), Announce Date(8N), วันที่เริ่มต้น, Expire Date(8N), ID, version]
Index: []

In [15]:
# Pull out the old and new data into separate dataframes
change_new = dupes[(dupes["version"] == "new")]
change_old = dupes[(dupes["version"] == "old")]

In [16]:
# Drop the temp columns - we don't need them now
change_new = change_new.drop(['version'], axis=1)
change_old = change_old.drop(['version'], axis=1)

In [17]:
# Index on the account numbers
change_new.set_index('ID', inplace=True)
change_old.set_index('ID', inplace=True)

In [18]:
df_all_changes = pd.concat([change_old, change_new],
                           axis='columns',
                           keys=['old', 'new'],
                           join='outer')

In [19]:
df_all_changes

Empty DataFrame
Columns: [(old, หน่วยงาน), (old, พิกัดศุลกากร), (old, รหัสสถิติ), (old, ประเภท), (old, tax), (old, Validate Indicator(2A)), (old, Country Code(2A)), (old, Quantity(14NDE3)), (old, Quantity Unit(3A)), (old, คำอธิบายภาษาไทย), (old, คำอธิบายภาษาอังกฤษ), (old, Condition(512A)), (old, Announce Number(10A)), (old, Announce Date(8N)), (old, วันที่เริ่มต้น), (old, Expire Date(8N)), (new, หน่วยงาน), (new, พิกัดศุลกากร), (new, รหัสสถิติ), (new, ประเภท), (new, tax), (new, Validate Indicator(2A)), (new, Country Code(2A)), (new, Quantity(14NDE3)), (new, Quantity Unit(3A)), (new, คำอธิบายภาษาไทย), (new, คำอธิบายภาษาอังกฤษ), (new, Condition(512A)), (new, Announce Number(10A)), (new, Announce Date(8N)), (new, วันที่เริ่มต้น), (new, Expire Date(8N))]
Index: []

[0 rows x 32 columns]

In [20]:
df_all_changes = df_all_changes.swaplevel(axis='columns')[change_new.columns[0:]]

In [21]:
df_all_changes

Empty DataFrame
Columns: [(หน่วยงาน, old), (หน่วยงาน, new), (พิกัดศุลกากร, old), (พิกัดศุลกากร, new), (รหัสสถิติ, old), (รหัสสถิติ, new), (ประเภท, old), (ประเภท, new), (tax, old), (tax, new), (Validate Indicator(2A), old), (Validate Indicator(2A), new), (Country Code(2A), old), (Country Code(2A), new), (Quantity(14NDE3), old), (Quantity(14NDE3), new), (Quantity Unit(3A), old), (Quantity Unit(3A), new), (คำอธิบายภาษาไทย, old), (คำอธิบายภาษาไทย, new), (คำอธิบายภาษาอังกฤษ, old), (คำอธิบายภาษาอังกฤษ, new), (Condition(512A), old), (Condition(512A), new), (Announce Number(10A), old), (Announce Number(10A), new), (Announce Date(8N), old), (Announce Date(8N), new), (วันที่เริ่มต้น, old), (วันที่เริ่มต้น, new), (Expire Date(8N), old), (Expire Date(8N), new)]
Index: []

[0 rows x 32 columns]

In [22]:
df_changed = df_all_changes.groupby(level=0, axis=1).apply(lambda frame: frame.apply(report_diff, axis=1))
df_changed = df_changed.reset_index()

In [23]:
df_changed

Empty DataFrame
Columns: [(ID, ), (หน่วยงาน, old), (หน่วยงาน, new), (พิกัดศุลกากร, old), (พิกัดศุลกากร, new), (รหัสสถิติ, old), (รหัสสถิติ, new), (ประเภท, old), (ประเภท, new), (tax, old), (tax, new), (Validate Indicator(2A), old), (Validate Indicator(2A), new), (Country Code(2A), old), (Country Code(2A), new), (Quantity(14NDE3), old), (Quantity(14NDE3), new), (Quantity Unit(3A), old), (Quantity Unit(3A), new), (คำอธิบายภาษาไทย, old), (คำอธิบายภาษาไทย, new), (คำอธิบายภาษาอังกฤษ, old), (คำอธิบายภาษาอังกฤษ, new), (Condition(512A), old), (Condition(512A), new), (Announce Number(10A), old), (Announce Number(10A), new), (Announce Date(8N), old), (Announce Date(8N), new), (วันที่เริ่มต้น, old), (วันที่เริ่มต้น, new), (Expire Date(8N), old), (Expire Date(8N), new)]
Index: []

[0 rows x 33 columns]

In [24]:
df_changed

Empty DataFrame
Columns: [(ID, ), (หน่วยงาน, old), (หน่วยงาน, new), (พิกัดศุลกากร, old), (พิกัดศุลกากร, new), (รหัสสถิติ, old), (รหัสสถิติ, new), (ประเภท, old), (ประเภท, new), (tax, old), (tax, new), (Validate Indicator(2A), old), (Validate Indicator(2A), new), (Country Code(2A), old), (Country Code(2A), new), (Quantity(14NDE3), old), (Quantity(14NDE3), new), (Quantity Unit(3A), old), (Quantity Unit(3A), new), (คำอธิบายภาษาไทย, old), (คำอธิบายภาษาไทย, new), (คำอธิบายภาษาอังกฤษ, old), (คำอธิบายภาษาอังกฤษ, new), (Condition(512A), old), (Condition(512A), new), (Announce Number(10A), old), (Announce Number(10A), new), (Announce Date(8N), old), (Announce Date(8N), new), (วันที่เริ่มต้น, old), (วันที่เริ่มต้น, new), (Expire Date(8N), old), (Expire Date(8N), new)]
Index: []

[0 rows x 33 columns]

# Diff'ing is done, we need to get a list of removed and added items

In [25]:
df_removed = changes[changes["ID"].isin(dropped_accts)]
df_removed

Empty DataFrame
Columns: [หน่วยงาน, พิกัดศุลกากร, รหัสสถิติ, ประเภท, tax, Validate Indicator(2A), Country Code(2A), Quantity(14NDE3), Quantity Unit(3A), คำอธิบายภาษาไทย, คำอธิบายภาษาอังกฤษ, Condition(512A), Announce Number(10A), Announce Date(8N), วันที่เริ่มต้น, Expire Date(8N), ID, version]
Index: []

In [26]:
df_added = changes[changes["ID"].isin(added_accts)]
df_added

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
12434,กรมวิชาการเกษตร,12099190,004,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,เมล็ดแตงกวา แตงร้าน สำหรับเพาะปลูก,Seed of Cucumber suitable for sowing,NaN,NaN,0,20200316,99999999,1209919000430994000158921,new
12842,กรมวิชาการเกษตร,29309090,118,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,โฟโนฟอส,Fonofos,NaN,NaN,0,20200316,99999999,2930909011830994000158921,new
12844,กรมวิชาการเกษตร,29313900,001,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,กรด 2-คลอโรเอทิลฟอสโฟนิก (อีเทฟอน),2-Chloroethylphosphonic Acid (Ethephon),NaN,NaN,0,20200316,99999999,2931390000130994000158921,new
12845,กรมวิชาการเกษตร,29313900,004,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไซยาโนเฟนฟอส,Cyanofenphos,NaN,NaN,0,20200316,99999999,2931390000430994000158921,new
12846,กรมวิชาการเกษตร,29313900,011,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,อีพีเอ็น,EPN,NaN,NaN,0,20200316,99999999,2931390001130994000158921,new
12847,กรมวิชาการเกษตร,29313900,017,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,กลูโฟซิเนต,Glufosinate,NaN,NaN,0,20200316,99999999,2931390001730994000158921,new
12848,กรมวิชาการเกษตร,29313900,018,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,กลูโฟซิเนต - แอมโมเนียม,Glufosinate - Ammonium,NaN,NaN,0,20200316,99999999,2931390001830994000158921,new
12849,กรมวิชาการเกษตร,29313900,019,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไกลโฟเสต,Glyphosate,NaN,NaN,0,20200316,99999999,2931390001930994000158921,new
12850,กรมวิชาการเกษตร,29313900,020,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไกลโฟเสต-ไอโซโพรพิลแอมโมเนียม,Glyphosate-Isopropylammonium,NaN,NaN,0,20200316,99999999,2931390002030994000158921,new
12851,กรมวิชาการเกษตร,29313900,021,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไกลโฟเสต-เซสควิโซเดียม,Glyphosate-Sesquisodium,NaN,NaN,0,20200316,99999999,2931390002130994000158921,new
12852,กรมวิชาการเกษตร,29313900,022,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไกลโฟเสต-ไตรมีเซียม,Glyphosate-Trimesium,NaN,NaN,0,20200316,99999999,2931390002230994000158921,new
12853,กรมวิชาการเกษตร,29313900,028,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,ไตรคลอร์ฟอน,Trichlorfon,NaN,NaN,0,20200316,99999999,2931390002830994000158921,new
12855,กรมวิชาการเกษตร,29319041,023,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,กรดเมทิลอาร์โซนิก,Methylarsonic Acid,NaN,NaN,0,20200316,99999999,2931904102330994000158921,new
12856,กรมวิชาการเกษตร,29319041,028,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต),MSMA (Monosodium Methylarsonate),NaN,NaN,0,20200316,99999999,2931904102830994000158921,new
12857,กรมวิชาการเกษตร,29319049,023,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,กรดเมทิลอาร์โซนิก,Methylarsonic Acid,NaN,NaN,0,20200316,99999999,2931904902330994000158921,new
12858,กรมวิชาการเกษตร,29319049,028,นำเข้าและส่งออก,994000158921,Y,NaN,0,NaN,เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต),MSMA (Monosodium Methylarsonate),NaN,NaN,0,20200316,99999999,2931904902830994000158921,new

In [41]:
#Save the changes to excel but only include the columns we care about
output_columns = ["พิกัดศุลกากร","รหัสสถิติ",'ประเภท',"หน่วยงาน","คำอธิบายภาษาไทย",'คำอธิบายภาษาอังกฤษ','วันที่เริ่มต้น']                
writer = pd.ExcelWriter("data/my-diff.xlsx")

if df_changed.size > 0:
    df_changed.to_excel(writer,"changed", index=False, columns=output_columns)
if df_removed.size > 0:
    df_removed.to_excel(writer,"removed",index=False, columns=output_columns)
if df_added.size > 0:
    data_added = df_added[ ["พิกัดศุลกากร","รหัสสถิติ",'ประเภท',"หน่วยงาน","คำอธิบายภาษาไทย",'คำอธิบายภาษาอังกฤษ','วันที่เริ่มต้น']]
    df_added.to_excel(writer,"added",index=False, columns=output_columns)
data_new = new[ ["พิกัดศุลกากร","รหัสสถิติ",'ประเภท',"หน่วยงาน","คำอธิบายภาษาไทย",'คำอธิบายภาษาอังกฤษ','วันที่เริ่มต้น']]
data_new.to_excel(writer,"temp",index=False, columns=output_columns)
writer.save()
print('success')

success

In [28]:
df_removed.shape[0]

0

In [29]:
df_changed.size

0

In [30]:
df_added.size

288

In [31]:
aut = list(new['หน่วยงาน'].unique())
aut

['กรมการอุตสาหกรรมทหาร',
 'กรมอุตสาหกรรมพื้นฐานและการเหมืองแร่',
 'กรมธุรกิจพลังงาน',
 'สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ',
 'กรมอุทยานแห่งชาติ สัตว์ป่าและพันธุ์พืช',
 'สำนักงานคณะกรรมการกิจการกระจายเสียง กิจการโทรทัศน์ และกิจการโทรคมนาคมแห่งชาติ',
 'สำนักงานคณะกรรมการอ้อยและน้ำตาลทราย',
 'กรมวิชาการเกษตร',
 'กรมปศุสัตว์',
 'สำนักงานปรมาณูเพื่อสันติ',
 'กรมการค้าต่างประเทศ',
 'กรมป่าไม้',
 'กรมประมง',
 'กรมสรรพสามิต',
 'กรมวิทยาศาสตร์การแพทย์',
 'กรมทรัพยากรธรณี',
 'กรมการค้าภายใน',
 'กรมการปกครอง',
 'กรมศิลปากร',
 'สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม',
 'สำนักงานคณะกรรมการอาหารและยา',
 'กรมโรงงานอุตสาหกรรม',
 'การยางแห่งประเทศไทย']

In [32]:
new.shape

(11078, 18)

## Write to Excel for e-mail

In [33]:
new.head()

,หน่วยงาน,พิกัดศุลกากร,รหัสสถิติ,ประเภท,tax,Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,Condition(512A),Announce Number(10A),Announce Date(8N),วันที่เริ่มต้น,Expire Date(8N),ID,version
0,กรมการอุตสาหกรรมทหาร,28011000,000,นำเข้า,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999,2801100000000994000011679,new
1,กรมการอุตสาหกรรมทหาร,28013000,002,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999,2801300000230994000011679,new
2,กรมการอุตสาหกรรมทหาร,28047000,000,นำเข้าและส่งออก,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999,2804700000030994000011679,new
3,กรมการอุตสาหกรรมทหาร,28062000,001,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999,2806200000130994000011679,new
4,กรมการอุตสาหกรรมทหาร,28111100,201,นำเข้าและส่งออก,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999,2811110020130994000011679,new

In [34]:
new = new.loc[:, ['พิกัดศุลกากร',	'รหัสสถิติ',	'ประเภท',	'หน่วยงาน',	'คำอธิบายภาษาไทย',	'คำอธิบายภาษาอังกฤษ',	'วันที่เริ่มต้น']]

In [35]:
new.index += 1
new.to_excel('data/export_permission.xlsx' ,index=True)
new.head()

,พิกัดศุลกากร,รหัสสถิติ,ประเภท,หน่วยงาน,คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,วันที่เริ่มต้น
1,28011000,000,นำเข้า,กรมการอุตสาหกรรมทหาร,NaN,CHLORINE,20130501
2,28013000,002,นำเข้าและส่งออก,กรมการอุตสาหกรรมทหาร,โบรมีน,BROMINE,20130501
3,28047000,000,นำเข้าและส่งออก,กรมการอุตสาหกรรมทหาร,ฟอสฟอรัส,Phosphorus,20141101
4,28062000,001,นำเข้าและส่งออก,กรมการอุตสาหกรรมทหาร,NaN,CHLOROSULPHONIC ACID,20130501
5,28111100,201,นำเข้าและส่งออก,กรมการอุตสาหกรรมทหาร,NaN,HYDROGEN FLUOURIDE (GAS),20130501

## Create Markdown

In [36]:
def create_md(df):
    col_name = df.columns
    md = "| "
    for i in range (len(col_name)):
        
        md += col_name[i]+" |"
    md += '\n'+"|"
    for i in range (len(col_name)):
        word = len(col_name[i])
        if word <= 5:
            md += "-----|"
        else:
            md += "----------|"
    md += '\n' 
  
    
    lst_heads = list(col_name)
    for col_idx,data in df.iterrows():    
      # md += "|"+ str(col_idx+1)+"|"
        md +=  "| "
        for i in range(len(lst_heads)):
            md +=  str(data[i]) + " |"
        md += '\n'    
    print(md)

In [37]:
## Read  data from Clipboard

df = pd.read_clipboard()
df

,No,พิกัดศุลกากร,รหัสสถิติ,ประเภท,หน่วยงาน,คำอธิบายภาษาไทย,คำอธิบายภาษาอังกฤษ,วันที่เริ่มต้น
0,1,12099190,4,นำเข้าและส่งออก,กรมวิชาการเกษตร,เมล็ดแตงกวา แตงร้าน สำหรับเพาะปลูก,Seed of Cucumber suitable for sowing,20200316
1,2,29309090,118,นำเข้าและส่งออก,กรมวิชาการเกษตร,โฟโนฟอส,Fonofos,20200316
2,3,29313900,1,นำเข้าและส่งออก,กรมวิชาการเกษตร,กรด 2-คลอโรเอทิลฟอสโฟนิก (อีเทฟอน),2-Chloroethylphosphonic Acid (Ethephon),20200316
3,4,29313900,4,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไซยาโนเฟนฟอส,Cyanofenphos,20200316
4,5,29313900,11,นำเข้าและส่งออก,กรมวิชาการเกษตร,อีพีเอ็น,EPN,20200316
5,6,29313900,17,นำเข้าและส่งออก,กรมวิชาการเกษตร,กลูโฟซิเนต,Glufosinate,20200316
6,7,29313900,18,นำเข้าและส่งออก,กรมวิชาการเกษตร,กลูโฟซิเนต - แอมโมเนียม,Glufosinate - Ammonium,20200316
7,8,29313900,19,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไกลโฟเสต,Glyphosate,20200316
8,9,29313900,20,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไกลโฟเสต-ไอโซโพรพิลแอมโมเนียม,Glyphosate-Isopropylammonium,20200316
9,10,29313900,21,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไกลโฟเสต-เซสควิโซเดียม,Glyphosate-Sesquisodium,20200316
10,11,29313900,22,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไกลโฟเสต-ไตรมีเซียม,Glyphosate-Trimesium,20200316
11,12,29313900,28,นำเข้าและส่งออก,กรมวิชาการเกษตร,ไตรคลอร์ฟอน,Trichlorfon,20200316
12,13,29319041,23,นำเข้าและส่งออก,กรมวิชาการเกษตร,กรดเมทิลอาร์โซนิก,Methylarsonic Acid,20200316
13,14,29319041,28,นำเข้าและส่งออก,กรมวิชาการเกษตร,เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต),MSMA (Monosodium Methylarsonate),20200316
14,15,29319049,23,นำเข้าและส่งออก,กรมวิชาการเกษตร,กรดเมทิลอาร์โซนิก,Methylarsonic Acid,20200316
15,16,29319049,28,นำเข้าและส่งออก,กรมวิชาการเกษตร,เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต),MSMA (Monosodium Methylarsonate),20200316

In [38]:
## Create Markdown

create_md(df)

| No |พิกัดศุลกากร |รหัสสถิติ |ประเภท |หน่วยงาน |คำอธิบายภาษาไทย |คำอธิบายภาษาอังกฤษ |วันที่เริ่มต้น |
|-----|----------|----------|----------|----------|----------|----------|----------|
| 1 |12099190 |4 |นำเข้าและส่งออก |กรมวิชาการเกษตร |เมล็ดแตงกวา แตงร้าน สำหรับเพาะปลูก |Seed of Cucumber suitable for sowing |20200316 |
| 2 |29309090 |118 |นำเข้าและส่งออก |กรมวิชาการเกษตร |โฟโนฟอส |Fonofos |20200316 |
| 3 |29313900 |1 |นำเข้าและส่งออก |กรมวิชาการเกษตร |กรด 2-คลอโรเอทิลฟอสโฟนิก (อีเทฟอน) |2-Chloroethylphosphonic Acid (Ethephon) |20200316 |
| 4 |29313900 |4 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไซยาโนเฟนฟอส |Cyanofenphos |20200316 |
| 5 |29313900 |11 |นำเข้าและส่งออก |กรมวิชาการเกษตร |อีพีเอ็น |EPN |20200316 |
| 6 |29313900 |17 |นำเข้าและส่งออก |กรมวิชาการเกษตร |กลูโฟซิเนต |Glufosinate |20200316 |
| 7 |29313900 |18 |นำเข้าและส่งออก |กรมวิชาการเกษตร |กลูโฟซิเนต - แอมโมเนียม |Glufosinate - Ammonium |20200316 |
| 8 |29313900 |19 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไกลโฟเสต |Glyphosate |20200316 |
| 9 |29313900 |20 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไกลโฟเสต-ไอโซโพรพิลแอมโมเนียม |Glyphosate-Isopropylammonium |20200316 |
| 10 |29313900 |21 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไกลโฟเสต-เซสควิโซเดียม |Glyphosate-Sesquisodium |20200316 |
| 11 |29313900 |22 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไกลโฟเสต-ไตรมีเซียม |Glyphosate-Trimesium |20200316 |
| 12 |29313900 |28 |นำเข้าและส่งออก |กรมวิชาการเกษตร |ไตรคลอร์ฟอน |Trichlorfon |20200316 |
| 13 |29319041 |23 |นำเข้าและส่งออก |กรมวิชาการเกษตร |กรดเมทิลอาร์โซนิก |Methylarsonic Acid |20200316 |
| 14 |29319041 |28 |นำเข้าและส่งออก |กรมวิชาการเกษตร |เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต) |MSMA (Monosodium Methylarsonate) |20200316 |
| 15 |29319049 |23 |นำเข้าและส่งออก |กรมวิชาการเกษตร |กรดเมทิลอาร์โซนิก |Methylarsonic Acid |20200316 |
| 16 |29319049 |28 |นำเข้าและส่งออก |กรมวิชาการเกษตร |เอ็มเอสเอ็มเอ (โมโนโซเดียมเมทิลอาร์โซเนต) |MSMA (Monosodium Methylarsonate) |20200316 |