# jupyter_pivottablejs

- https://github.com/nicolaskruchten/jupyter_pivottablejs

In [33]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 1000)
%config InlineBackend.figure_format='retina'


print(f'pandas version = {pd.__version__}')
print(f'bs4    version = {bs4.__version__}') # beautifulsoup4
pd.Timestamp.today()

pandas version = 1.0.1
bs4    version = 4.8.2

Timestamp('2020-03-13 16:07:25.803505')

In [34]:
df = pd.read_excel('data/EXAMPT.xlsx', 'Sheet1')     
df

    ลำดับ                                    หน่วยงาน รหัสยกเว้น  วันที่ออกใบอนุญาต
0       1                        กรมการอุตสาหกรรมทหาร    EXEMPT1           20171113
1       2                        กรมการอุตสาหกรรมทหาร    EXEMPT2           20171113
2       3                        กรมการอุตสาหกรรมทหาร    EXEMPT3           20171113
3       4                        กรมการอุตสาหกรรมทหาร    EXEMPT5           20171113
4       5                        กรมการอุตสาหกรรมทหาร   EXEMPT88           20171113
..    ...                                         ...        ...                ...
67     68          สำนักงานมาตรฐานผลิตภัณฑ์อุตสาหกรรม  EXEMPT152           20171113
68     69  สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ    EXEMPT3           20171113
69     70  สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ   EXEMPT88           20171113
70     71                    สำนักงานปรมาณูเพื่อสันติ   EXEMPT88           20171113
71     72                    สำนักงานปรมาณูเพื่อสันติ   EXEMPT99           20171113

[72 rows x 4 columns]

In [35]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= [""],
    rows= [""],
     rendererName= "Table",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)

In [36]:
df = pd.read_excel('data/sum_report.xls', 'Sheet1', )     
#df['พิกัดศุลกากร'] = df['พิกัดศุลกากร'].map('{:08d}'.format)
#df['รหัสสถิติ'] = df['รหัสสถิติ'].map('{:03d}'.format)







df

       NO. JobNo  Lot No                                       EDI DateTime ArrivalDate Time   Schenker Ref   Entry Form No 19 bis รหัสวัตถุดิบ      Invoice No ชื่อยานพาหนะ  ท่าที่นำเข้า  รายการในใบขน  Item ProductCode  ... DutyText DutyText (THB)       Vat  สรรพสามิต  มหาดไทย TotalDuty  NETW (KGM) PortofOrigin  Country of Origin  GROSSW(KGM)  STATUS  Privilege  Incoterm  ท่าที่ตรวจปล่อย  ประเทศต้นทางบรรทุก
0      1.0   NaN     NaN                                         09/04/2018       06/04/2018  AALMNN0000013  A0090610400004      N          NaN          CAR001     BY TRUCK        5801.0           1.0   1.0           A  ...     30.0        30000.0    9100.0        NaN      NaN   39100.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           5801.0                  MY
1      2.0   NaN     NaN                                         09/04/2018       06/04/2018  AALMNN0000014  A0090610400002      N          NaN          CAR002     BY TRUCK        5801.0           1.0   1.0           A  ...     30.0        30000.0    9100.0        NaN      NaN   39100.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           5801.0                  MY
2      3.0   NaN     NaN                                         09/04/2018       06/04/2018  AALMNN0000015  A0090610400001      N          NaN          CAR003     BY TRUCK        5801.0           1.0   1.0           A  ...     30.0        30000.0    9100.0        NaN      NaN   39100.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           5801.0                  MY
3      4.0   NaN     NaN                                         09/04/2018       06/04/2018  AALMNN0000016  A0090610400003      N          NaN          CAR004     BY TRUCK        5801.0           1.0   1.0           A  ...     30.0        30000.0    9100.0        NaN      NaN   39100.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           5801.0                  MY
4      5.0   NaN     NaN                                         09/04/2018       06/04/2018  AALMNN0000017  A0090610400005      N          NaN          CAR005     BY TRUCK        5801.0           1.0   1.0           A  ...     30.0        30000.0    9100.0        NaN      NaN   39100.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           5801.0                  MY
..     ...   ...     ...                                                ...              ...            ...             ...    ...          ...             ...          ...           ...           ...   ...         ...  ...      ...            ...       ...        ...      ...       ...         ...          ...                ...          ...     ...        ...       ...              ...                 ...
338  339.0   NaN     NaN                                         06/02/2020       17/02/2018  AZRKN00000042  A0060630200003      N          NaN    AZRK-EPZ_Imp      RTCSHIP        2801.0           1.0   1.0      IMPORT  ...     40.0            0.0       0.0        NaN      NaN       0.0       100.0           MY                 MY        100.0     2.0      999.0       CIF            503.0                  MY
339  340.0   NaN     NaN                                         06/02/2020       17/02/2018  AZRKN00000043  A0060630200005      N          NaN   AZRK-Bond_Imp      RTCSHIP        2801.0           1.0   1.0    NOTEBOOK  ...     40.0            0.0       0.0        NaN      NaN       0.0       100.0           TH                 TH        100.0     3.0      999.0       CIF           2811.0                  TH
340  341.0   NaN     NaN                                         06/02/2020       17/02/2018  AZRKN00000044  A0060630200007      Y         0052  AZRK-19BIS_Imp      RTCSHIP        2801.0           1.0   1.0      IMPORT  ...     40.0       600000.0  147000.0        NaN      NaN  747000.0       100.0           MY                 MY        100.0     2.0      999.0       CIF           2813.0                  MY
341    NaN   NaN     NaN                                                NaN              NaN            NaN             NaN    NaN          NaN             NaN          NaN           NaN           NaN   NaN         NaN  ...      NaN            NaN       NaN        NaN      NaN       NaN         NaN          NaN                NaN          NaN     NaN        NaN       NaN              NaN                 NaN
342    NaN   NaN     NaN  ******************************End Of Data*****...              NaN            NaN             NaN    NaN          NaN             NaN          NaN           NaN           NaN   NaN         NaN  ...      NaN            NaN       NaN        NaN      NaN       NaN         NaN          NaN                NaN          NaN     NaN        NaN       NaN              NaN                 NaN

[343 rows x 41 columns]

In [37]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= [""],
    rows= [""],
     rendererName= "Table",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)

In [12]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= [""],
    rows= [""],
     rendererName= "Table",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)

In [38]:
df = pd.read_excel('data/export_detail.xls', 'Sheet1', )     
#df['พิกัดศุลกากร'] = df['พิกัดศุลกากร'].map('{:08d}'.format)
#df['รหัสสถิติ'] = df['รหัสสถิติ'].map('{:03d}'.format)
df

            RefNO           DecNO              DepDate DocumentType  DocStatus  ECS_JobNO       CmpCode  CmpBranch  ExporterTaxNo                                 NameEng   BrokerTaxNo              BrokerNameE  CCCard  CCName  ManagerNo  ...  ArgExportTariff  OriginCer  ArgReasonCode CerExportNo  ModelNumber  ModelVersion  ModelCmpTax  ArgValueRate  ArgSpcRate  ArgSpcCode DRemark2 BOITranferNo BornModelVersion  BornModelTaxNo             PermitNO
0   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206185101272
1   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285100572
2   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101016
3   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101208
4   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101378
..            ...             ...                  ...          ...        ...        ...           ...        ...            ...                                     ...           ...                      ...     ...     ...        ...  ...              ...        ...            ...         ...          ...           ...          ...           ...         ...         ...      ...          ...              ...             ...                  ...
15  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
16  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
17  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
18  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
19  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561

[20 rows x 166 columns]

In [39]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= [""],
    rows= [""],
     rendererName= "Table",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)

In [31]:
df = pd.read_excel('data/import_detail.xls', 'Sheet1', )     
#df['พิกัดศุลกากร'] = df['พิกัดศุลกากร'].map('{:08d}'.format)
#df['รหัสสถิติ'] = df['รหัสสถิติ'].map('{:03d}'.format)
df

            RefNO           DecNO              DepDate DocumentType  DocStatus  ECS_JobNO       CmpCode  CmpBranch  ExporterTaxNo                                 NameEng   BrokerTaxNo              BrokerNameE  CCCard  CCName  ManagerNo  ...  ArgExportTariff  OriginCer  ArgReasonCode CerExportNo  ModelNumber  ModelVersion  ModelCmpTax  ArgValueRate  ArgSpcRate  ArgSpcCode DRemark2 BOITranferNo BornModelVersion  BornModelTaxNo             PermitNO
0   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206185101272
1   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285100572
2   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101016
3   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101208
4   DMMM600005053  A019D621200434  20/12/2019 00:00:00            D          4        NaN  105539029665          0   105539029665                       AMBROSE WINE LTD.  105538139505                      NaN     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN       21206285101378
..            ...             ...                  ...          ...        ...        ...           ...        ...            ...                                     ...           ...                      ...     ...     ...        ...  ...              ...        ...            ...         ...          ...           ...          ...           ...         ...         ...      ...          ...              ...             ...                  ...
15  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
16  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
17  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
18  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561
19  DMRF100112972  A031D620701205  01/08/2019 00:00:00            D          4        NaN  105545015603          0   105545015603  FURUKAWA SANGYO KAISHA (THAILAND) LTD.  105535021554  CTI LOGISTICS  CO.,LTD.     NaN     NaN        NaN  ...              NaN        NaN            NaN         NaN          NaN           NaN          NaN             0           0         NaN      NaN          NaN              NaN             NaN  13-2-42-118133-2561

[20 rows x 166 columns]

In [32]:
# note: this will not render on Github, you'll need to run it locally!

from pivottablejs import pivot_ui

pivot_ui(df,      
    cols= [""],
    rows= [""],
     rendererName= "Table",
    rowOrder= "value_z_to_a", 
    colOrder= "value_z_to_a",
    rendererOptions= {
        "c3": { "data": {"colors": {
            "Liberal": '#dc3912', "Conservative": '#3366cc', "NDP": '#ff9900',
            "Green":'#109618', 'Bloc Quebecois': '#990099'
        }}}
    }
)