In [2]:
from IPython.display import IFrame, YouTubeVideo, SVG, HTML
s='''
<span style=color:blue;font-size:200%>โปรแกรมสำหรับสร้าง text file อัตราแลกเปลี่ยนกรมศุลกากร</span>
'''
HTML(s)

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

In [2]:
print(f"pandas  version = {pd.__version__}")

pandas  version = 0.24.2

In [3]:
pd.Timestamp.today()

Timestamp('2019-06-18 08:59:18.581127')

# FIRST / LAST DAY OF THE MONTH (PYTHON RECIPE)

- http://code.activestate.com/recipes/476197-first-last-day-of-the-month/

In [4]:
# Reading from an excel file.
df = pd.read_excel('exchange-rate.xlsx', 'Sheet1', index_col=None, na_values=['NA'])
df

,ประเทศ,สกุลเงิน,รหัสสกุลเงิน,การส่งของออก,การนำเข้า
0,สหรัฐอเมริกา,ดอลลาร์สหรัฐ,USD,31.6142,32.0432
1,สหราชอาณาจักร,ปอนด์สเตอร์ลิง,GBP,39.9786,40.9706
2,สหภาพยุโรป,ยูโร,EUR,35.1011,35.9121
3,ญี่ปุ่น,เยน (100),JPY,28.4457,29.3012
4,ฮ่องกง,ดอลลาร์ฮ่องกง,HKD,4.0065,4.1004
5,มาเลเซีย,ริงกิต,MYR,7.4708,7.7289
6,สิงคโปร์,ดอลลาร์สิงคโปร์,SGD,22.8014,23.4243
7,บรูไน,ดอลลาร์บรูไน,BND,22.6644,23.4914
8,ฟิลิปปินส์,เปโซฟิลิปปินส์,PHP,0.5917,0.6195
9,อินโดนีเซีย,รูเปียอินโดนีเซีย (1000),IDR,2.0434,2.3181
10,อินเดีย,รูปีอินเดีย,INR,0.4033,0.4892
11,สวิสเซอร์แลนด์,ฟรังก์,CHF,31.1280,31.8866
12,ออสเตรเลีย,ดอลลาร์ออสเตรเลีย,AUD,21.4673,22.3269
13,นิวซีแลนด์,ดอลลาร์นิวซีแลนด์,NZD,20.3642,21.0568
14,แคนาดา,ดอลลาร์แคนาดา,CAD,23.3644,23.9890
15,สวีเดน,โครนา,SEK,3.2479,3.3377
16,เดนมาร์ก,โครน,DKK,4.6968,4.8108
17,นอร์เวย์,โครน,NOK,3.5787,3.6741
18,สาธารณรัฐประชาชนจีน,เรนมินบิ,CNY,4.5175,4.6649
19,เม็กซิโก,เปโซเม็กซิโก,MXN,1.6645,1.6822
20,สหภาพแอฟริกาใต้,แรนด์,ZAR,2.2073,2.2307
21,เกาหลีใต้,วอน,KRW,0.0265,0.0268
22,ไต้หวัน,ดอลลาร์ไต้หวัน,TWD,1.0103,1.0211
23,คูเวต,ดีนาร์คูเวต,KWD,104.1779,105.2839
24,ซาอุดิอาระเบีย,เรียลซาอุดิอาระเบีย,SAR,8.4546,8.5444
25,สหรัฐอาหรับ,ดีแรห์น,AED,8.6322,8.7239
26,พม่า,จัด,MMK,0.0206,0.0208
27,บังคลาเทศ,ตากา,BDT,0.3761,0.3801
28,สาธารณรัฐเชก,คราวน์,CZK,1.3731,1.3877
29,กัมพูชา,เรียลกัมพูชา,KHR,0.0078,0.0079
30,คีนยา,ชิลลิ่ง,KES,0.3133,0.3166
31,ลาว,กีบ,LAK,0.0036,0.0037
32,รัสเซีย,รูเบิล,RUB,0.4917,0.4969
33,เวียตนาม,ดอง,VND,0.0014,0.0014
34,อียิปต์,ปอนด์,EGP,1.8643,1.8840
35,โปแลนด์,สล็อตตี,PLN,8.2240,8.3113
36,ศรีลังกา,รูปีศรีลังกา,LKR,0.1800,0.1819
37,อิรัก,ดีนาร์อิรัก,IQD,0.0265,0.0268
38,บาห์เรน,ดีนาร์บาห์เรน,BHD,84.1023,84.9952
39,โอมาน์,เรียลโอมาน์,OMR,82.3548,83.2290
40,จอร์แดน,ดอลลาร์จอร์แดน,JOD,44.7359,45.2108
41,กาตาร์,เรียลกาตาร์,QAR,8.6878,8.7801
42,มัลดีฟส์,รูฟียา,MVR,2.0523,2.0741
43,เนปาล,รูปีเนปาล,NPR,0.2839,0.2869
44,ปาปัวนิวกินี,กินา,PGK,9.4010,9.5008
45,อิสราเอล,เชคเกล,ILS,8.8158,8.9094
46,ฮังการี,โฟรินต์,HUF,0.1086,0.1097
47,ปากีสถาน,รูปีปากีสถาน,PKR,0.2120,0.2143
48,ไทย,บาท,THB,1.0000,1.0000

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 5 columns):
ประเทศ          49 non-null object
สกุลเงิน        49 non-null object
รหัสสกุลเงิน    49 non-null object
การส่งของออก    49 non-null float64
การนำเข้า       49 non-null float64
dtypes: float64(2), object(3)
memory usage: 2.0+ KB

In [308]:
df.columns

Index(['ประเทศ', 'สกุลเงิน', 'รหัสสกุลเงิน', 'การส่งของออก', 'การนำเข้า'], dtype='object')

In [309]:
df.describe()

       การส่งของออก  การนำเข้า
count     49.000000   49.00000
mean      14.046857   14.30588
std       23.148922   23.44198
min        0.001400    0.00140
25%        0.403300    0.48920
50%        3.578700    3.67410
75%       21.467300   22.32690
max      104.177900  105.28390

In [310]:
df = df[['รหัสสกุลเงิน','การส่งของออก','การนำเข้า']]
df.sample(5)

   รหัสสกุลเงิน  การส่งของออก  การนำเข้า
44          PGK        9.4010     9.5008
48          THB        1.0000     1.0000
3           JPY       28.4457    29.3012
23          KWD      104.1779   105.2839
2           EUR       35.1011    35.9121

# จัดการวันที่

In [311]:
# Sample Source Code

from datetime import date, timedelta

def get_first_day(dt, d_years=0, d_months=0):
    # d_years, d_months are "deltas" to apply to dt
    y, m = dt.year + d_years, dt.month + d_months
    a, m = divmod(m-1, 12)
    return date(y+a, m+1, 1)

def get_last_day(dt):
    return get_first_day(dt, 0, 1) + timedelta(-1)

def get_year_thai(d):
    '''เปลี่ยนแปลงข้อมูลเป็นปี พ.ศ.'''
    return datetime.date(d.year+543, d.month, d.day)

def lastday_of_month(d):
    '''Takes a datetime.date and returns the date for the last day in the
    same month.'''
    return datetime.date(d.year, d.month+1, d.day)

In [335]:
# ดึงข้อมูลวันที่ปัจจุบันจากเครื่อง
d = datetime.now()
d

datetime.datetime(2019, 6, 17, 17, 15, 30, 958310)

In [336]:
# เปลี่ยนให้เป็น พ.ศ.
d = d.replace(d.year+543)
d

datetime.datetime(2562, 6, 17, 17, 15, 30, 958310)

In [337]:
# เดือนถัดไป + 1 month

d = d.replace(month=(d.month+1))
d

datetime.datetime(2562, 7, 17, 17, 15, 30, 958310)

In [338]:
# วันแรกของเดือน
first_day = (get_first_day(d).strftime('%d''%m''%Y'))
first_day

'01072562'

In [339]:
# วันสุดท้ายของเดือน
last_day = (get_last_day(d).strftime('%d''%m''%Y'))
last_day

'31072562'

# Create text file (Export)

In [333]:
ex = {}  # Create blank dict
for i in range(len(df['รหัสสกุลเงิน'])):
    ex[i] = (df['รหัสสกุลเงิน'][i]),(first_day),(last_day),('%011.6f'%df['การส่งของออก'][i]),('RFXEI02405256214423865A')
ex

('USD', '01062562', '30062562', '0031.614200', 'RFXEI02405256214423865A')

## จัดการข้อมูลพร้อมเขียนข้อมูลลง text file

In [334]:
# จัดรูปแบบข้อมูลเพื่อเตรียมเขียนลงไฟล์
lst_ex = []
for i in ex.keys():
    e = ''.join(ex[i])
    lst_ex.append(e)
    
data = '\n'.join(lst_ex) # กำหนดให้ขึ้นบรรทัดใหม่

# write data to text file
f = open('D:\RFECU-test.txt','w',encoding='utf-8')
f.write (str(data))
f.close()
print('success')

success

## Create text file (Import)

In [268]:
im = {}  # Create blank dict
for i in range(len(df['รหัสสกุลเงิน'])):
    im[i] = (df['รหัสสกุลเงิน'][i]),(first_day),(last_day),('%011.6f'%df['การนำเข้า'][i]),('RFXEI02405256214423865A')
im

{0: ('USD', '01072562', '31072562', '0032.043200', 'RFXEI02405256214423865A'),
 1: ('GBP', '01072562', '31072562', '0040.970600', 'RFXEI02405256214423865A'),
 2: ('EUR', '01072562', '31072562', '0035.912100', 'RFXEI02405256214423865A'),
 3: ('JPY', '01072562', '31072562', '0029.301200', 'RFXEI02405256214423865A'),
 4: ('HKD', '01072562', '31072562', '0004.100400', 'RFXEI02405256214423865A'),
 5: ('MYR', '01072562', '31072562', '0007.728900', 'RFXEI02405256214423865A'),
 6: ('SGD', '01072562', '31072562', '0023.424300', 'RFXEI02405256214423865A'),
 7: ('BND', '01072562', '31072562', '0023.491400', 'RFXEI02405256214423865A'),
 8: ('PHP', '01072562', '31072562', '0000.619500', 'RFXEI02405256214423865A'),
 9: ('IDR', '01072562', '31072562', '0002.318100', 'RFXEI02405256214423865A'),
 10: ('INR', '01072562', '31072562', '0000.489200', 'RFXEI02405256214423865A'),
 11: ('CHF', '01072562', '31072562', '0031.886600', 'RFXEI02405256214423865A'),
 12: ('AUD', '01072562', '31072562', '0022.326900', 'RFXEI02405256214423865A'),
 13: ('NZD', '01072562', '31072562', '0021.056800', 'RFXEI02405256214423865A'),
 14: ('CAD', '01072562', '31072562', '0023.989000', 'RFXEI02405256214423865A'),
 15: ('SEK', '01072562', '31072562', '0003.337700', 'RFXEI02405256214423865A'),
 16: ('DKK', '01072562', '31072562', '0004.810800', 'RFXEI02405256214423865A'),
 17: ('NOK', '01072562', '31072562', '0003.674100', 'RFXEI02405256214423865A'),
 18: ('CNY', '01072562', '31072562', '0004.664900', 'RFXEI02405256214423865A'),
 19: ('MXN', '01072562', '31072562', '0001.682200', 'RFXEI02405256214423865A'),
 20: ('ZAR', '01072562', '31072562', '0002.230700', 'RFXEI02405256214423865A'),
 21: ('KRW', '01072562', '31072562', '0000.026800', 'RFXEI02405256214423865A'),
 22: ('TWD', '01072562', '31072562', '0001.021100', 'RFXEI02405256214423865A'),
 23: ('KWD', '01072562', '31072562', '0105.283900', 'RFXEI02405256214423865A'),
 24: ('SAR', '01072562', '31072562', '0008.544400', 'RFXEI02405256214423865A'),
 25: ('AED', '01072562', '31072562', '0008.723900', 'RFXEI02405256214423865A'),
 26: ('MMK', '01072562', '31072562', '0000.020800', 'RFXEI02405256214423865A'),
 27: ('BDT', '01072562', '31072562', '0000.380100', 'RFXEI02405256214423865A'),
 28: ('CZK', '01072562', '31072562', '0001.387700', 'RFXEI02405256214423865A'),
 29: ('KHR', '01072562', '31072562', '0000.007900', 'RFXEI02405256214423865A'),
 30: ('KES', '01072562', '31072562', '0000.316600', 'RFXEI02405256214423865A'),
 31: ('LAK', '01072562', '31072562', '0000.003700', 'RFXEI02405256214423865A'),
 32: ('RUB', '01072562', '31072562', '0000.496900', 'RFXEI02405256214423865A'),
 33: ('VND', '01072562', '31072562', '0000.001400', 'RFXEI02405256214423865A'),
 34: ('EGP', '01072562', '31072562', '0001.884000', 'RFXEI02405256214423865A'),
 35: ('PLN', '01072562', '31072562', '0008.311300', 'RFXEI02405256214423865A'),
 36: ('LKR', '01072562', '31072562', '0000.181900', 'RFXEI02405256214423865A'),
 37: ('IQD', '01072562', '31072562', '0000.026800', 'RFXEI02405256214423865A'),
 38: ('BHD', '01072562', '31072562', '0084.995200', 'RFXEI02405256214423865A'),
 39: ('OMR', '01072562', '31072562', '0083.229000', 'RFXEI02405256214423865A'),
 40: ('JOD', '01072562', '31072562', '0045.210800', 'RFXEI02405256214423865A'),
 41: ('QAR', '01072562', '31072562', '0008.780100', 'RFXEI02405256214423865A'),
 42: ('MVR', '01072562', '31072562', '0002.074100', 'RFXEI02405256214423865A'),
 43: ('NPR', '01072562', '31072562', '0000.286900', 'RFXEI02405256214423865A'),
 44: ('PGK', '01072562', '31072562', '0009.500800', 'RFXEI02405256214423865A'),
 45: ('ILS', '01072562', '31072562', '0008.909400', 'RFXEI02405256214423865A'),
 46: ('HUF', '01072562', '31072562', '0000.109700', 'RFXEI02405256214423865A'),
 47: ('PKR', '01072562', '31072562', '0000.214300', 'RFXEI02405256214423865A'),
 48: ('THB', '01072562', '31072562', '0001.000000', 'RFXEI02405256214423865A')}

# จัดการข้อมูลพร้อมเขียนข้อมูลลง text file

In [330]:
lst_im = []
for i in im.keys():
    e = ''.join(im[i])
    lst_im.append(e)
data = '\n'.join(lst_im)
# write data to text file
f = open('D:\RFICU-test.txt','w',encoding='utf-8')
f.write (str(data))
f.close()
print('success')

success