In [2]:
from IPython.display import IFrame, YouTubeVideo, SVG, HTML
s='''
<span style=color:blue;font-size:200%>โปรแกรมสำหรับสร้าง text file อัตราแลกเปลี่ยนกรมศุลกากร</span>
'''
HTML(s)

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

In [2]:
print(f"pandas  version = {pd.__version__}")

pandas  version = 0.24.2

In [3]:
pd.Timestamp.today()

Timestamp('2019-06-18 08:59:18.581127')

# FIRST / LAST DAY OF THE MONTH (PYTHON RECIPE)

- http://code.activestate.com/recipes/476197-first-last-day-of-the-month/

In [25]:
# Reading from an excel file.

df = pd.read_clipboard()
df

,#,County,currency,Currency Code,Export,Import
0,1,สหรัฐอเมริกา,ดอลลาร์สหรัฐ,USD,31.5753,32.0022
1,2,สหราชอาณาจักร,ปอนด์สเตอร์ลิง,GBP,40.8621,41.8486
2,3,ยูโรโซน,ยูโร,EUR,35.3828,36.1917
3,4,ญี่ปุ่น,เยน (100),JPY,27.9717,28.8028
4,5,ฮ่องกง,ดอลลาร์ฮ่องกง,HKD,4.0042,4.0957
5,6,มาเลเซีย,ริงกิต,MYR,7.5412,7.8049
6,7,สิงคโปร์,ดอลลาร์สิงคโปร์,SGD,23.1488,23.7710
7,8,บรูไนดารุสซาลาม,ดอลลาร์บรูไน,BND,22.9972,23.8495
8,9,ฟิลิปปินส์,เปโซฟิลิปปินส์,PHP,0.5993,0.6270
9,10,อินโดนีเซีย,รูเปียอินโดนีเซีย (1000),IDR,2.1038,2.3905
10,11,อินเดีย,รูปีอินเดีย,INR,0.4089,0.4916
11,12,สวิตเซอร์แลนด์,ฟรังก์,CHF,31.0191,31.7508
12,13,ออสเตรเลีย,ดอลลาร์ออสเตรเลีย,AUD,22.3014,23.1390
13,14,นิวซีแลนด์,ดอลลาร์นิวซีแลนด์,NZD,20.9220,21.6069
14,15,แคนาดา,ดอลลาร์แคนาดา,CAD,23.4802,24.0748
15,16,สวีเดน,โครนา,SEK,3.3739,3.4652
16,17,เดนมาร์ก,โครน,DKK,4.7369,4.8501
17,18,นอร์เวย์,โครน,NOK,3.6892,3.7854
18,19,จีน,เรนมินบิ,CNY,4.6599,4.8038
19,20,เม็กซิโก,เปโซเม็กซิโก,MXN,1.6825,1.7005
20,21,แอฟริกาใต้,แรนด์,ZAR,2.2524,2.2764
21,22,เกาหลีใต้,วอน,KRW,0.0278,0.0281
22,23,ไต้หวัน,ดอลลาร์ไต้หวัน,TWD,1.0270,1.0379
23,24,คูเวต,ดีนาร์คูเวต,KWD,104.1258,105.2359
24,25,ซาอุดีอาระเบีย,เรียลซาอุดีอาระเบีย,SAR,8.4435,8.5335
25,26,สหรัฐอาหรับเอมิเรตส์,ดีแรห์น,AED,8.6205,8.7124
26,27,พม่า,จัด,MMK,0.0208,0.0210
27,28,บังกลาเทศ,ตากา,BDT,0.3759,0.3799
28,29,สาธารณรัฐเช็ก,คราวน์,CZK,1.3882,1.4030
29,30,กัมพูชา,เรียลกัมพูชา,KHR,0.0078,0.0079
30,31,เคนยา,ชิลลิ่ง,KES,0.3126,0.3159
31,32,ลาว,กีบ,LAK,0.0037,0.0037
32,33,รัสเซีย,รูเบิล,RUB,0.4952,0.5005
33,34,เวียดนาม,ดอง,VND,0.0014,0.0014
34,35,อียิปต์,ปอนด์,EGP,1.8380,1.8576
35,36,โปแลนด์,สล็อตตี,PLN,8.3375,8.4264
36,37,ศรีลังกา,รูปีศรีลังกา,LKR,0.1815,0.1834
37,38,อิรัก,ดีนาร์อิรัก,IQD,0.0265,0.0268
38,39,บาห์เรน,ดีนาร์บาห์เรน,BHD,83.9911,84.8866
39,40,โอมาน,เรียลโอมาน์,OMR,82.2458,83.1227
40,41,จอร์แดน,ดอลลาร์จอร์แดน,JOD,44.6673,45.1435
41,42,กาตาร์,เรียลกาตาร์,QAR,8.6971,8.7898
42,43,มัลดีฟส์,รูฟียา,MVR,2.0481,2.0700
43,44,เนปาล,รูปีเนปาล,NPR,0.2846,0.2876
44,45,ปาปัวนิวกินี,กินา,PGK,9.3790,9.4790
45,46,อิสราเอล,เชคเกล,ILS,8.8353,8.9295
46,47,ฮังการี,โฟรินต์,HUF,0.1114,0.1126
47,48,ปากีสถาน,รูปีปากีสถาน,PKR,0.2235,0.2259
48,49,ไทย,บาท,THB,1.0000,1.0000

In [5]:
# Reading from an excel file.
df = pd.read_excel('exchange-rate.xlsx', 'Sheet1', index_col=None, na_values=['NA'])
df

,County,Currency,Currency Code,Export,Import
0,สหรัฐอเมริกา,ดอลลาร์สหรัฐ,USD,31.6142,32.0432
1,สหราชอาณาจักร,ปอนด์สเตอร์ลิง,GBP,39.9786,40.9706
2,สหภาพยุโรป,ยูโร,EUR,35.1011,35.9121
3,ญี่ปุ่น,เยน (100),JPY,28.4457,29.3012
4,ฮ่องกง,ดอลลาร์ฮ่องกง,HKD,4.0065,4.1004
5,มาเลเซีย,ริงกิต,MYR,7.4708,7.7289
6,สิงคโปร์,ดอลลาร์สิงคโปร์,SGD,22.8014,23.4243
7,บรูไน,ดอลลาร์บรูไน,BND,22.6644,23.4914
8,ฟิลิปปินส์,เปโซฟิลิปปินส์,PHP,0.5917,0.6195
9,อินโดนีเซีย,รูเปียอินโดนีเซีย (1000),IDR,2.0434,2.3181
10,อินเดีย,รูปีอินเดีย,INR,0.4033,0.4892
11,สวิสเซอร์แลนด์,ฟรังก์,CHF,31.1280,31.8866
12,ออสเตรเลีย,ดอลลาร์ออสเตรเลีย,AUD,21.4673,22.3269
13,นิวซีแลนด์,ดอลลาร์นิวซีแลนด์,NZD,20.3642,21.0568
14,แคนาดา,ดอลลาร์แคนาดา,CAD,23.3644,23.9890
15,สวีเดน,โครนา,SEK,3.2479,3.3377
16,เดนมาร์ก,โครน,DKK,4.6968,4.8108
17,นอร์เวย์,โครน,NOK,3.5787,3.6741
18,สาธารณรัฐประชาชนจีน,เรนมินบิ,CNY,4.5175,4.6649
19,เม็กซิโก,เปโซเม็กซิโก,MXN,1.6645,1.6822
20,สหภาพแอฟริกาใต้,แรนด์,ZAR,2.2073,2.2307
21,เกาหลีใต้,วอน,KRW,0.0265,0.0268
22,ไต้หวัน,ดอลลาร์ไต้หวัน,TWD,1.0103,1.0211
23,คูเวต,ดีนาร์คูเวต,KWD,104.1779,105.2839
24,ซาอุดิอาระเบีย,เรียลซาอุดิอาระเบีย,SAR,8.4546,8.5444
25,สหรัฐอาหรับ,ดีแรห์น,AED,8.6322,8.7239
26,พม่า,จัด,MMK,0.0206,0.0208
27,บังคลาเทศ,ตากา,BDT,0.3761,0.3801
28,สาธารณรัฐเชก,คราวน์,CZK,1.3731,1.3877
29,กัมพูชา,เรียลกัมพูชา,KHR,0.0078,0.0079
30,คีนยา,ชิลลิ่ง,KES,0.3133,0.3166
31,ลาว,กีบ,LAK,0.0036,0.0037
32,รัสเซีย,รูเบิล,RUB,0.4917,0.4969
33,เวียตนาม,ดอง,VND,0.0014,0.0014
34,อียิปต์,ปอนด์,EGP,1.8643,1.8840
35,โปแลนด์,สล็อตตี,PLN,8.2240,8.3113
36,ศรีลังกา,รูปีศรีลังกา,LKR,0.1800,0.1819
37,อิรัก,ดีนาร์อิรัก,IQD,0.0265,0.0268
38,บาห์เรน,ดีนาร์บาห์เรน,BHD,84.1023,84.9952
39,โอมาน์,เรียลโอมาน์,OMR,82.3548,83.2290
40,จอร์แดน,ดอลลาร์จอร์แดน,JOD,44.7359,45.2108
41,กาตาร์,เรียลกาตาร์,QAR,8.6878,8.7801
42,มัลดีฟส์,รูฟียา,MVR,2.0523,2.0741
43,เนปาล,รูปีเนปาล,NPR,0.2839,0.2869
44,ปาปัวนิวกินี,กินา,PGK,9.4010,9.5008
45,อิสราเอล,เชคเกล,ILS,8.8158,8.9094
46,ฮังการี,โฟรินต์,HUF,0.1086,0.1097
47,ปากีสถาน,รูปีปากีสถาน,PKR,0.2120,0.2143
48,ไทย,บาท,THB,1.0000,1.0000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 6 columns):
#                49 non-null int64
County           49 non-null object
currency         49 non-null object
Currency Code    49 non-null object
Export           49 non-null float64
Import           49 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.4+ KB

In [27]:
df.columns

Index(['#', 'County', 'currency', 'Currency Code', 'Export', 'Import'], dtype='object')

In [28]:
df.describe()

              #      Export      Import
count  49.00000   49.000000   49.000000
mean   25.00000   14.110810   14.368386
std    14.28869   23.156127   23.449586
min     1.00000    0.001400    0.001400
25%    13.00000    0.408900    0.491600
50%    25.00000    3.689200    3.785400
75%    37.00000   22.301400   23.139000
max    49.00000  104.125800  105.235900

In [29]:
df = df[['Currency Code', 'Export', 'Import']]
df.sample(5)

   Currency Code   Export   Import
27           BDT   0.3759   0.3799
19           MXN   1.6825   1.7005
14           CAD  23.4802  24.0748
31           LAK   0.0037   0.0037
8            PHP   0.5993   0.6270

# จัดการวันที่

- https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

In [130]:
# Date & Time Manage

from datetime import date, timedelta

def get_current_day():
    
    return pd.Timestamp.today()

def get_first_day(dt, d_years=0, d_months=0):
    # d_years, d_months are "deltas" to apply to dt
    y, m = dt.year + d_years, dt.month + d_months
    a, m = divmod(m-1, 12)
    return date(y+a, m+1, 1)

def get_last_day(dt):
    return get_first_day(dt, 0, 1) + timedelta(-1)

def get_year_thai(d):
    
    '''แปลงข้อมูลเป็นปี พ.ศ.'''
    
    return d.replace(d.year+543)

In [139]:
# ดึงข้อมูลวันที่ปัจจุบันจากเครื่อง
last_day = get_current_day()
last_day

Timestamp('2019-06-18 14:18:11.889542')

In [140]:
# เดือนถัดไป + 1 month
last_day = last_day + np.timedelta64(1,'M')

last_day

Timestamp('2019-07-19 00:47:17.889542')

In [142]:
last_day = last_day + np.timedelta64(543,'Y')
last_day

Timestamp('1936-06-09 10:09:22.470438768')

In [133]:
# เปลี่ยนให้เป็น พ.ศ.
first_day = d.replace(day=1)
first_day

Timestamp('2019-06-01 14:02:10.193463')

In [134]:
last_day = pd.Series(pd.date_range(first_day, freq='M', periods=1))
last_day

0   2019-06-30 14:02:10.193463
dtype: datetime64[ns]

In [151]:
first_day = first_day('%d''%m''%Y')
first_day

TypeError: 'tuple' object is not callable

In [148]:
first_day = (str(first_day.day),str(first_day.month),str(first_day.year))
first_day

('1', '6', '2019')

In [105]:
# วันแรกของเดือน
first_day = (first_day.replace(first_day.year+543))
first_day

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2562-07-01 13:38:28

In [80]:
# วันสุดท้ายของเดือน
last_day=pd.to_datetime(last_day, format='%Y,%m,%d')
last_day = (get_year_thai(last_day).strftime('%d''%m''%Y'))
last_day

AttributeError: 'Series' object has no attribute 'year'

# Create text file (Export)

In [36]:
ex = {}  # Create blank dict
for i in range(len(df['Currency Code'])):
    ex[i] = (df['Currency Code'][i]),(first_day),(last_day),('%011.6f'%df['Export'][i]),('RFXEI02405256214423865A')
ex

{0: ('USD', '01072562', '31072562', '0031.575300', 'RFXEI02405256214423865A'),
 1: ('GBP', '01072562', '31072562', '0040.862100', 'RFXEI02405256214423865A'),
 2: ('EUR', '01072562', '31072562', '0035.382800', 'RFXEI02405256214423865A'),
 3: ('JPY', '01072562', '31072562', '0027.971700', 'RFXEI02405256214423865A'),
 4: ('HKD', '01072562', '31072562', '0004.004200', 'RFXEI02405256214423865A'),
 5: ('MYR', '01072562', '31072562', '0007.541200', 'RFXEI02405256214423865A'),
 6: ('SGD', '01072562', '31072562', '0023.148800', 'RFXEI02405256214423865A'),
 7: ('BND', '01072562', '31072562', '0022.997200', 'RFXEI02405256214423865A'),
 8: ('PHP', '01072562', '31072562', '0000.599300', 'RFXEI02405256214423865A'),
 9: ('IDR', '01072562', '31072562', '0002.103800', 'RFXEI02405256214423865A'),
 10: ('INR', '01072562', '31072562', '0000.408900', 'RFXEI02405256214423865A'),
 11: ('CHF', '01072562', '31072562', '0031.019100', 'RFXEI02405256214423865A'),
 12: ('AUD', '01072562', '31072562', '0022.301400', 'RFXEI02405256214423865A'),
 13: ('NZD', '01072562', '31072562', '0020.922000', 'RFXEI02405256214423865A'),
 14: ('CAD', '01072562', '31072562', '0023.480200', 'RFXEI02405256214423865A'),
 15: ('SEK', '01072562', '31072562', '0003.373900', 'RFXEI02405256214423865A'),
 16: ('DKK', '01072562', '31072562', '0004.736900', 'RFXEI02405256214423865A'),
 17: ('NOK', '01072562', '31072562', '0003.689200', 'RFXEI02405256214423865A'),
 18: ('CNY', '01072562', '31072562', '0004.659900', 'RFXEI02405256214423865A'),
 19: ('MXN', '01072562', '31072562', '0001.682500', 'RFXEI02405256214423865A'),
 20: ('ZAR', '01072562', '31072562', '0002.252400', 'RFXEI02405256214423865A'),
 21: ('KRW', '01072562', '31072562', '0000.027800', 'RFXEI02405256214423865A'),
 22: ('TWD', '01072562', '31072562', '0001.027000', 'RFXEI02405256214423865A'),
 23: ('KWD', '01072562', '31072562', '0104.125800', 'RFXEI02405256214423865A'),
 24: ('SAR', '01072562', '31072562', '0008.443500', 'RFXEI02405256214423865A'),
 25: ('AED', '01072562', '31072562', '0008.620500', 'RFXEI02405256214423865A'),
 26: ('MMK', '01072562', '31072562', '0000.020800', 'RFXEI02405256214423865A'),
 27: ('BDT', '01072562', '31072562', '0000.375900', 'RFXEI02405256214423865A'),
 28: ('CZK', '01072562', '31072562', '0001.388200', 'RFXEI02405256214423865A'),
 29: ('KHR', '01072562', '31072562', '0000.007800', 'RFXEI02405256214423865A'),
 30: ('KES', '01072562', '31072562', '0000.312600', 'RFXEI02405256214423865A'),
 31: ('LAK', '01072562', '31072562', '0000.003700', 'RFXEI02405256214423865A'),
 32: ('RUB', '01072562', '31072562', '0000.495200', 'RFXEI02405256214423865A'),
 33: ('VND', '01072562', '31072562', '0000.001400', 'RFXEI02405256214423865A'),
 34: ('EGP', '01072562', '31072562', '0001.838000', 'RFXEI02405256214423865A'),
 35: ('PLN', '01072562', '31072562', '0008.337500', 'RFXEI02405256214423865A'),
 36: ('LKR', '01072562', '31072562', '0000.181500', 'RFXEI02405256214423865A'),
 37: ('IQD', '01072562', '31072562', '0000.026500', 'RFXEI02405256214423865A'),
 38: ('BHD', '01072562', '31072562', '0083.991100', 'RFXEI02405256214423865A'),
 39: ('OMR', '01072562', '31072562', '0082.245800', 'RFXEI02405256214423865A'),
 40: ('JOD', '01072562', '31072562', '0044.667300', 'RFXEI02405256214423865A'),
 41: ('QAR', '01072562', '31072562', '0008.697100', 'RFXEI02405256214423865A'),
 42: ('MVR', '01072562', '31072562', '0002.048100', 'RFXEI02405256214423865A'),
 43: ('NPR', '01072562', '31072562', '0000.284600', 'RFXEI02405256214423865A'),
 44: ('PGK', '01072562', '31072562', '0009.379000', 'RFXEI02405256214423865A'),
 45: ('ILS', '01072562', '31072562', '0008.835300', 'RFXEI02405256214423865A'),
 46: ('HUF', '01072562', '31072562', '0000.111400', 'RFXEI02405256214423865A'),
 47: ('PKR', '01072562', '31072562', '0000.223500', 'RFXEI02405256214423865A'),
 48: ('THB', '01072562', '31072562', '0001.000000', 'RFXEI02405256214423865A')}

## จัดการข้อมูลพร้อมเขียนข้อมูลลง text file

In [37]:
# จัดรูปแบบข้อมูลเพื่อเตรียมเขียนลงไฟล์
lst_ex = []
for i in ex.keys():
    e = ''.join(ex[i])
    lst_ex.append(e)
    
data = '\n'.join(lst_ex) # กำหนดให้ขึ้นบรรทัดใหม่

# write data to text file
f = open('D:\RFECU-test.txt','w',encoding='utf-8')
f.write (str(data))
f.close()
print('success')

success

## Create text file (Import)

In [38]:
im = {}  # Create blank dict
for i in range(len(df['Currency Code'])):
    im[i] = (df['Currency Code'][i]),(first_day),(last_day),('%011.6f'%df['Import'][i]),('RFXEI02405256214423865A')
im

{0: ('USD', '01072562', '31072562', '0032.002200', 'RFXEI02405256214423865A'),
 1: ('GBP', '01072562', '31072562', '0041.848600', 'RFXEI02405256214423865A'),
 2: ('EUR', '01072562', '31072562', '0036.191700', 'RFXEI02405256214423865A'),
 3: ('JPY', '01072562', '31072562', '0028.802800', 'RFXEI02405256214423865A'),
 4: ('HKD', '01072562', '31072562', '0004.095700', 'RFXEI02405256214423865A'),
 5: ('MYR', '01072562', '31072562', '0007.804900', 'RFXEI02405256214423865A'),
 6: ('SGD', '01072562', '31072562', '0023.771000', 'RFXEI02405256214423865A'),
 7: ('BND', '01072562', '31072562', '0023.849500', 'RFXEI02405256214423865A'),
 8: ('PHP', '01072562', '31072562', '0000.627000', 'RFXEI02405256214423865A'),
 9: ('IDR', '01072562', '31072562', '0002.390500', 'RFXEI02405256214423865A'),
 10: ('INR', '01072562', '31072562', '0000.491600', 'RFXEI02405256214423865A'),
 11: ('CHF', '01072562', '31072562', '0031.750800', 'RFXEI02405256214423865A'),
 12: ('AUD', '01072562', '31072562', '0023.139000', 'RFXEI02405256214423865A'),
 13: ('NZD', '01072562', '31072562', '0021.606900', 'RFXEI02405256214423865A'),
 14: ('CAD', '01072562', '31072562', '0024.074800', 'RFXEI02405256214423865A'),
 15: ('SEK', '01072562', '31072562', '0003.465200', 'RFXEI02405256214423865A'),
 16: ('DKK', '01072562', '31072562', '0004.850100', 'RFXEI02405256214423865A'),
 17: ('NOK', '01072562', '31072562', '0003.785400', 'RFXEI02405256214423865A'),
 18: ('CNY', '01072562', '31072562', '0004.803800', 'RFXEI02405256214423865A'),
 19: ('MXN', '01072562', '31072562', '0001.700500', 'RFXEI02405256214423865A'),
 20: ('ZAR', '01072562', '31072562', '0002.276400', 'RFXEI02405256214423865A'),
 21: ('KRW', '01072562', '31072562', '0000.028100', 'RFXEI02405256214423865A'),
 22: ('TWD', '01072562', '31072562', '0001.037900', 'RFXEI02405256214423865A'),
 23: ('KWD', '01072562', '31072562', '0105.235900', 'RFXEI02405256214423865A'),
 24: ('SAR', '01072562', '31072562', '0008.533500', 'RFXEI02405256214423865A'),
 25: ('AED', '01072562', '31072562', '0008.712400', 'RFXEI02405256214423865A'),
 26: ('MMK', '01072562', '31072562', '0000.021000', 'RFXEI02405256214423865A'),
 27: ('BDT', '01072562', '31072562', '0000.379900', 'RFXEI02405256214423865A'),
 28: ('CZK', '01072562', '31072562', '0001.403000', 'RFXEI02405256214423865A'),
 29: ('KHR', '01072562', '31072562', '0000.007900', 'RFXEI02405256214423865A'),
 30: ('KES', '01072562', '31072562', '0000.315900', 'RFXEI02405256214423865A'),
 31: ('LAK', '01072562', '31072562', '0000.003700', 'RFXEI02405256214423865A'),
 32: ('RUB', '01072562', '31072562', '0000.500500', 'RFXEI02405256214423865A'),
 33: ('VND', '01072562', '31072562', '0000.001400', 'RFXEI02405256214423865A'),
 34: ('EGP', '01072562', '31072562', '0001.857600', 'RFXEI02405256214423865A'),
 35: ('PLN', '01072562', '31072562', '0008.426400', 'RFXEI02405256214423865A'),
 36: ('LKR', '01072562', '31072562', '0000.183400', 'RFXEI02405256214423865A'),
 37: ('IQD', '01072562', '31072562', '0000.026800', 'RFXEI02405256214423865A'),
 38: ('BHD', '01072562', '31072562', '0084.886600', 'RFXEI02405256214423865A'),
 39: ('OMR', '01072562', '31072562', '0083.122700', 'RFXEI02405256214423865A'),
 40: ('JOD', '01072562', '31072562', '0045.143500', 'RFXEI02405256214423865A'),
 41: ('QAR', '01072562', '31072562', '0008.789800', 'RFXEI02405256214423865A'),
 42: ('MVR', '01072562', '31072562', '0002.070000', 'RFXEI02405256214423865A'),
 43: ('NPR', '01072562', '31072562', '0000.287600', 'RFXEI02405256214423865A'),
 44: ('PGK', '01072562', '31072562', '0009.479000', 'RFXEI02405256214423865A'),
 45: ('ILS', '01072562', '31072562', '0008.929500', 'RFXEI02405256214423865A'),
 46: ('HUF', '01072562', '31072562', '0000.112600', 'RFXEI02405256214423865A'),
 47: ('PKR', '01072562', '31072562', '0000.225900', 'RFXEI02405256214423865A'),
 48: ('THB', '01072562', '31072562', '0001.000000', 'RFXEI02405256214423865A')}

# จัดการข้อมูลพร้อมเขียนข้อมูลลง text file

In [39]:
lst_im = []
for i in im.keys():
    e = ''.join(im[i])
    lst_im.append(e)
data = '\n'.join(lst_im)
# write data to text file
f = open('D:\RFICU-test.txt','w',encoding='utf-8')
f.write (str(data))
f.close()
print('success')

success