In [ ]:
Permission_Goods_1

msft = pd.read_csv("data/msft.csv", 
                   dtype = { 'Volume' : np.float64})
msft.dtypes

In [8]:
import pandas as pd

df = pd.read_excel('data/Permission_Goods_1.xlsx', 'Sheet1', na_values=['NA'],
                  dtype = { 'Tariff Statistical Code (3N)' : np.object})
df.dtypes

หน่วยงาน                                      object
Tariff Classification(12 N)                    int64
Tariff Statistical Code (3N)                  object
Permission Goods Type(2A)                      int64
Company Tax Number(17A)                        int64
Validate Indicator(2A)                        object
Country Code(2A)                              object
Quantity(14NDE3)                               int64
Quantity Unit(3A)                             object
Permission Goods Thai Description(512A)       object
Permission Goods English Description(512A)    object
Condition(512A)                               object
Announce Number(10A)                          object
Announce Date(8N)                              int64
Start Date(8N)                                 int64
Expire Date(8N)                                int64
dtype: object

In [10]:
df.head()

,หน่วยงาน,Tariff Classification(12 N),Tariff Statistical Code (3N),Permission Goods Type(2A),Company Tax Number(17A),Validate Indicator(2A),Country Code(2A),Quantity(14NDE3),Quantity Unit(3A),Permission Goods Thai Description(512A),Permission Goods English Description(512A),Condition(512A),Announce Number(10A),Announce Date(8N),Start Date(8N),Expire Date(8N)
0,กรมการอุตสาหกรรมทหาร,28011000,000,0,994000011679,Y,NaN,0,KGM,NaN,CHLORINE,NaN,NaN,20130401,20130501,99999999
1,กรมการอุตสาหกรรมทหาร,28013000,002,3,994000011679,Y,NaN,0,KGM,โบรมีน,BROMINE,NaN,NaN,20130401,20130501,99999999
2,กรมการอุตสาหกรรมทหาร,28047000,000,3,994000011679,Y,NaN,0,NaN,ฟอสฟอรัส,Phosphorus,NaN,NaN,0,20141101,99999999
3,กรมการอุตสาหกรรมทหาร,28062000,001,3,994000011679,Y,NaN,0,KGM,NaN,CHLOROSULPHONIC ACID,NaN,NaN,20130401,20130501,99999999
4,กรมการอุตสาหกรรมทหาร,28111100,201,3,994000011679,Y,NaN,0,KGM,NaN,HYDROGEN FLUOURIDE (GAS),NaN,NaN,20130401,20130501,99999999