# Customize Excel for section 29

In [13]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

print(f"pandas  version = {pd.__version__}")
pd.Timestamp.today()

pandas  version = 0.24.2

Timestamp('2020-01-30 16:58:49.291010')

In [19]:
df = pd.read_excel('workbook.xlsx', 'Sheet1', index_col=None, na_values=['NA'],header=0,converters={'F':str,'H':str})
df.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,A026-0600400760,14437575,1.0,2017-04-25,2017-04-26,082254,2017-04-26,000619,LINK PART NO.8ML-305-2,50.0,669.0,0.0,669.0,2214.14,0.0,2214.14
1,A026-0600400760,14437575,2.0,2017-04-25,2017-04-26,082254,2017-04-26,000620,LINK PART NO.8ML-306-2,50.0,628.0,0.0,628.0,1771.28,0.0,1771.28
2,A026-0600400760,14437575,3.0,2017-04-25,2017-04-26,082254,2017-04-26,000621,LINK PART NO.8ML-307-2,50.0,542.0,0.0,542.0,2282.92,0.0,2282.92
3,A026-0600400760,14437575,4.0,2017-04-25,2017-04-26,082254,2017-04-26,000640,BOLT PART NO.8BG-166-1,50.0,169.0,0.0,169.0,438.25,0.0,438.25
4,A026-0600400760,14437575,5.0,2017-04-25,2017-04-26,082254,2017-04-26,000641,BOLT PART NO.8BG-167-1,50.0,492.0,0.0,492.0,795.07,0.0,795.07

In [20]:
df['D'] = pd.to_datetime(df['D'], dayfirst = True)
df.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,A026-0600400760,14437575,1.0,2017-04-25,2017-04-26,082254,2017-04-26,000619,LINK PART NO.8ML-305-2,50.0,669.0,0.0,669.0,2214.14,0.0,2214.14
1,A026-0600400760,14437575,2.0,2017-04-25,2017-04-26,082254,2017-04-26,000620,LINK PART NO.8ML-306-2,50.0,628.0,0.0,628.0,1771.28,0.0,1771.28
2,A026-0600400760,14437575,3.0,2017-04-25,2017-04-26,082254,2017-04-26,000621,LINK PART NO.8ML-307-2,50.0,542.0,0.0,542.0,2282.92,0.0,2282.92
3,A026-0600400760,14437575,4.0,2017-04-25,2017-04-26,082254,2017-04-26,000640,BOLT PART NO.8BG-166-1,50.0,169.0,0.0,169.0,438.25,0.0,438.25
4,A026-0600400760,14437575,5.0,2017-04-25,2017-04-26,082254,2017-04-26,000641,BOLT PART NO.8BG-167-1,50.0,492.0,0.0,492.0,795.07,0.0,795.07

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269 entries, 0 to 1268
Data columns (total 16 columns):
A    1266 non-null object
B    1266 non-null object
C    1266 non-null float64
D    1266 non-null datetime64[ns]
E    1266 non-null datetime64[ns]
F    1266 non-null float64
G    1266 non-null datetime64[ns]
H    1266 non-null float64
I    1266 non-null object
J    1266 non-null float64
K    1266 non-null float64
L    1266 non-null float64
M    1266 non-null float64
N    1267 non-null float64
O    1267 non-null float64
P    1267 non-null float64
dtypes: datetime64[ns](3), float64(10), object(3)
memory usage: 158.7+ KB

In [17]:
# df['hour'] = pd.to_numeric(df['hour']) # แปลงเป็น Numeric
# df['hour'] = df['hour'].astype('int') # อีกวิธีในการแปลงค่า สามารถใช้วิธีนี้แปลงเป็น float ได้

df['F'] = df['F'].astype('str')
df.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,A026-0600400760,14437575,1.0,2017-04-25,2017-04-26,82254.0,2017-04-26,619.0,LINK PART NO.8ML-305-2,50.0,669.0,0.0,669.0,2214.14,0.0,2214.14
1,A026-0600400760,14437575,2.0,2017-04-25,2017-04-26,82254.0,2017-04-26,620.0,LINK PART NO.8ML-306-2,50.0,628.0,0.0,628.0,1771.28,0.0,1771.28
2,A026-0600400760,14437575,3.0,2017-04-25,2017-04-26,82254.0,2017-04-26,621.0,LINK PART NO.8ML-307-2,50.0,542.0,0.0,542.0,2282.92,0.0,2282.92
3,A026-0600400760,14437575,4.0,2017-04-25,2017-04-26,82254.0,2017-04-26,640.0,BOLT PART NO.8BG-166-1,50.0,169.0,0.0,169.0,438.25,0.0,438.25
4,A026-0600400760,14437575,5.0,2017-04-25,2017-04-26,82254.0,2017-04-26,641.0,BOLT PART NO.8BG-167-1,50.0,492.0,0.0,492.0,795.07,0.0,795.07

In [6]:
df['D'] = df['D'].dt.strftime('%d/%m/%Y')
df['E'] = df['E'].dt.strftime('%d/%m/%Y')
df['G'] = df['G'].dt.strftime('%d/%m/%Y')
df.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,A026-0600400760,14437575,1.0,25/04/2017,26/04/2017,82254.0,26/04/2017,619.0,LINK PART NO.8ML-305-2,50.0,669.0,0.0,669.0,2214.14,0.0,2214.14
1,A026-0600400760,14437575,2.0,25/04/2017,26/04/2017,82254.0,26/04/2017,620.0,LINK PART NO.8ML-306-2,50.0,628.0,0.0,628.0,1771.28,0.0,1771.28
2,A026-0600400760,14437575,3.0,25/04/2017,26/04/2017,82254.0,26/04/2017,621.0,LINK PART NO.8ML-307-2,50.0,542.0,0.0,542.0,2282.92,0.0,2282.92
3,A026-0600400760,14437575,4.0,25/04/2017,26/04/2017,82254.0,26/04/2017,640.0,BOLT PART NO.8BG-166-1,50.0,169.0,0.0,169.0,438.25,0.0,438.25
4,A026-0600400760,14437575,5.0,25/04/2017,26/04/2017,82254.0,26/04/2017,641.0,BOLT PART NO.8BG-167-1,50.0,492.0,0.0,492.0,795.07,0.0,795.07

In [9]:
df['A'].replace('-.', '', regex=True, inplace=True)

df.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,A026600400760,14437575,1.0,25/04/2017,26/04/2017,82254.0,26/04/2017,619.0,LINK PART NO.8ML-305-2,50.0,669.0,0.0,669.0,2214.14,0.0,2214.14
1,A026600400760,14437575,2.0,25/04/2017,26/04/2017,82254.0,26/04/2017,620.0,LINK PART NO.8ML-306-2,50.0,628.0,0.0,628.0,1771.28,0.0,1771.28
2,A026600400760,14437575,3.0,25/04/2017,26/04/2017,82254.0,26/04/2017,621.0,LINK PART NO.8ML-307-2,50.0,542.0,0.0,542.0,2282.92,0.0,2282.92
3,A026600400760,14437575,4.0,25/04/2017,26/04/2017,82254.0,26/04/2017,640.0,BOLT PART NO.8BG-166-1,50.0,169.0,0.0,169.0,438.25,0.0,438.25
4,A026600400760,14437575,5.0,25/04/2017,26/04/2017,82254.0,26/04/2017,641.0,BOLT PART NO.8BG-167-1,50.0,492.0,0.0,492.0,795.07,0.0,795.07

In [10]:
df.to_excel('data_1.xlsx')

In [12]:
m = df[['H','I']]
m.head()

       H                       I
0  619.0  LINK PART NO.8ML-305-2
1  620.0  LINK PART NO.8ML-306-2
2  621.0  LINK PART NO.8ML-307-2
3  640.0  BOLT PART NO.8BG-166-1
4  641.0  BOLT PART NO.8BG-167-1